# Based on https://github.com/gitattributes/gitattributes

# Auto detect text files and perform LF normalization
*                             text=auto eol=lf

# The above will handle all files NOT found below

# Tool configuration
## Git
.gitattributes                text
.gitignore                    text

## Others
.all-contributorsrc		      text
.editorconfig                 text
.envrc 					      text
.prettierignore				  text
devenv.lock					  text linguist-generated linguist-language=YAML

# Documents
## Archives
*.zip                         binary

## Plain text
*.md                          text
*.txt                         text

# Media
## Audio
*.flac                        binary
*.ogg                         binary

## Fonts
*.eot                         binary
*.ttf                         binary
*.woff                        binary

## Graphics
*.png                         binary
*.jpg                         binary
*.svg                         text

## Video
*.mkv                         binary
*.webm                        binary

# Data
*.json                        text
*.toml						  text
*.yaml                        text

# Code
*.nix						  text
*.css						  text
*.js 						  text
