name: Deploy

on:
  push:
    branches:
      - main

concurrency:
  group: github-pages
  cancel-in-progress: false

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set-up Nix
        uses: DeterminateSystems/nix-installer-action@v13

      - name: Set-up Nix cache
        uses: DeterminateSystems/magic-nix-cache-action@v7

      - name: Set-up devenv
        run: nix profile install nixpkgs#devenv

      - name: Build book
        run: devenv shell mdbook build

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: book/

  deploy:
    name: Deploy
    runs-on: ubuntu-latest

    needs: build

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deploy.outputs.page_url }}

    steps:
      - name: Set-up GitHub Pages
        uses: actions/configure-pages@v5

      - name: Deploy to GitHub Pages
        id: deploy
        uses: actions/deploy-pages@v4
